/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,600|Roboto');
/* font-family: 'Cormorant', serif; */
/* font-family: 'Roboto', sans-serif; */

/* General Style Properties
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Cormorant', serif; */
    background-color: "secondary";

}

.title {
    font-family: 'Cormorant', serif;
    text-transform: capitalize;
    line-height: 6rem;
    text-align: center;
    font-size: 4rem; 
    font-weight: bold;
    color: #f8d568;
    margin-right: 5rem;
    margin-bottom: 0rem;  
}

.title p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


/* Transitions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .navbar-image {
    height: auto;
    width: auto;
} */

.jumbo-image {
    background-image: url("./assets/cheeseBackground.jpg");
    margin-bottom: 0rem;
    border-radius: 0rem;
    /* object-fit: cover; */
}

.card-image {
    height: 180px;
    object-fit: cover;
}

.thumbnail {
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin-right: 2rem;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.remove-btn {
    margin-right: 0.5rem;
}

.add-btn {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
    background-color: "secondary";
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}