.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.thumbnail {
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin-right: 2rem;

}

.card-image {
    height: 180px;
    width: 256px;
    object-fit: cover;
}

.icon {
    height: 30px;
    width: 30px;
    fill: white;
    margin-left: 0.5rem;
}

.icon:hover {
    fill: yellow;
}